:root {
  --primary-color: rgba(13, 110, 139, 0.45);
  --secondary-color: rgba(248, 183, 62, 0.9);
  --overlay-color: rgba(24, 39, 51, 0.85);
  --modal-duration: 1s;
  --modal-color: #428bca;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.6;
}

.main-container {
  min-height: 100%;

}

.content {
  overflow: auto;

}

html,
body {
  height: 100%;
}

.container {
  margin: auto;
  padding: 0 5.5rem;
  position: relative;
  overflow: auto;
}

a {
  text-decoration: none;
  color: #333;
  font-weight: 700;
}

header {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  padding: 0 80px;
  background: linear-gradient(106deg, #FAF884 0%, rgba(38, 51, 24, 0.596)8%);
  width: 100%;
  height: 100px;
  box-sizing: border-box;
  border-bottom: #EAC117 3px solid;

}

/*logo size*/
header .logo {
  max-width: 135px;
  float: left;
  margin-top: 1.2rem;
  margin-left: -4%;

}

/*Menu position*/
header nav {
  float: right;
  margin-right: -4%;
}

header nav ul {
  margin: 0;
  padding: 0;
  display: flex;
}

header nav ul li {
  list-style: none;

}

/*spacing of menu*/
header nav ul li a {
  text-decoration: none;
  line-height: 100px;
  padding: 0 10px;
  color: #ffffff;
  display: block;
  font-weight: bold;
}

header nav ul li a:hover {
  color: var(--secondary-color);
}

/*header-content - title card*/
.header-content {
  color: black;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  text-align: left;
  padding-left: 5%;

}

/*TALA*/
h3 {
  color: white;
  font-size: 1em;
  text-decoration: none;
  display: inline;
  margin-left: 1%;
  line-height: 100px;
}

.txt-type {
  color: #F4BC1C;
}

.navigation {
  float: left;
  margin-left: -8%;
  display: flex;
  margin-top: 70px;
}

.navigation ul li a {
  color: black;
  padding: 0 3px;
}

#dashboard {
  padding-top: 120px;
  display: flex;
  justify-content: center;
}


/* Style the button that is used to open the side panel */
@import url(https://fonts.googleapis.com/css?family=Muli);

* {
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.toggle {
  font-size: 20px;

  border-radius: 30px;
  display: inline-block;
  height: 40px;
  width: 40px;
  cursor: pointer;
}

.ico {
  margin-left: 3px;
  margin-top: -4px;
}

.toggle:hover {
  animation: ring 1.2s ease-in-out 1;
}

/*notification */
.sidebar {
  position: fixed;
  width: 350px;
  right: -500px;
  box-shadow: 0px 0px 10px 3px black;
  background-color: rgba(30, 39, 21, 0.896);
  border-left: 1px solid black;   /*notification panel background*/
  height: 100%;
  top: 100px;
}

.sidebar h2 {
  padding-top: 15px;
  color: #5CB7F4;
  text-align: center;
  font-family: 'Muli', sans-serif;
}

.sidebar.active {
  right: 0px;
}

.notibox {
  color: rgb(4, 1, 1);
  font-family: 'Muli', sans-serif;
  background-color: #FFDB58;
  width: calc(100% - 30px);
  padding: 15px;
  margin: 15px;
  border-radius: 4px;
  position: relative;
  font-size: 10px;
  text-align: center;
}

.cancel {
  position: absolute;
  right: 7px;
  top: 10px;
  cursor: pointer;
  padding: 3px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 20px;
}

.cancel:hover {
  color: black;
  background-color: white;

}

.gone {
  display: none;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px;
  margin: 5px;
}

tr:nth-child(even) {
  background-color: white;
}

caption {
  display: table-caption;
  text-align: center;

}