@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}

.login-page .form .login {
  margin-top: -1px;
  margin-bottom: 26px;
}

.login-header {
  color: #ffffff;
}

.form33 {
  /*position of login box*/
  right: 95px;
  top: 120px;
  position: absolute;
  z-index: 1;
  /* background: #FFFFFF; */
  font-size: 14px;
  background: rgba(0, 0, 0, 0.5);
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  border-radius: 15px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form33 input {
  font-family: 'Century Gothic';
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

#login-form-submit {
  font-family: 'Century Gothic';
  text-transform: uppercase;
  outline: 0;
  background-image: linear-gradient(45deg, #e8e538, rgba(248, 183, 62, 0.9));
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.form33 .message {
  margin: 15px 0 0;
  color: #ffffff;
  font-size: 12px;
  font-family: 'Century Gothic';
}

.form33 .message a {
  color: rgba(248, 183, 62, 0.9);
  text-decoration: none;
  font-family: 'Century Gothic';
}


body {
  /* background-color: #328f8a;
  background-image: linear-gradient(45deg,#328f8a,#08ac4b); */

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.login_form button:hover {
  background: #151c6a;
}

/* Middle row of the main grid (contains the error message) */
#login-error-msg-holder {

  display: grid;
  justify-items: center;
  align-items: center;
}

/* Error message. */
#login-error-msg {
  width: 83%;
  text-align: center;
  margin: 0;
  padding: 3px;
  font-size: 9px;
  font-weight: bold;
  color: #8a0000;
  border: 1px solid #8a0000;
  background-color: #e58f8f;
  opacity: 0;
}

#error-msg-second-line {
  display: block;

}

#login-form {
  align-self: flex-start;
  display: grid;
  justify-items: center;
  align-items: center;
}

/* Style the login form fields' placeholders */
.login-form-field::placeholder {
  color: #3a3a3a;
}

/* Style the login form fields (username and password) */
.login-form-field {
  border: none;
  border-bottom: 1px solid #3a3a3a;
  margin-bottom: 10px;
  border-radius: 3px;
  outline: none;
  padding: 0px 0px 5px 5px;
}